body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1.25rem;
}
header {
    grid-template-columns: 1fr 1fr 1fr
}
header h1 {
    grid-column: 1/3;
}
header img {
    width: 100%;
    grid-column: 3/4;
    float: right;
    box-shadow: 5px gray;
}

footer a:link {
    color: white;
}
footer div {
    color: yellow;

}