body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Cabin', sans-serif;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 550px;
}

header, footer {
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1.25rem;
}
header {
    padding: 5px 5px 5px 5px;
}
h1 {
    margin-left: -10%;
    font-family: 'Libre Baskerville', serif;
}
header img {
    width:25%;
    float: right;
    box-shadow: 3px 3px gray;
}
hr {
    height: 1px;
    overflow: visible;
}
footer a {
    color: white;
}
footer div {
    color: yellow;

}